# Import Package

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!dir

sample_data  test.csv  train.csv

In [ ]:
train = pd.read_csv('train.csv',sep =';')
test = pd.read_csv('test.csv',sep =';')

In [ ]:
train = pd.DataFrame(train)

In [ ]:
train

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,Layak Minum
1,2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,Layak Minum
2,3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,Layak Minum
3,6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.0,NaN,1.0,0.0,1.0,1,11.0,85.0,Layak Minum
4,7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,Layak Minum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,NaN,0.0,0.0,0.0,1,21.0,9.0,Layak Minum
35969,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,Layak Minum
35970,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,Layak Minum
35971,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,Layak Minum
35972,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,Layak Minum

In [ ]:
train.shape

(35973, 40)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35973 entries, 0 to 35972
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35973 non-null  int64
 1   DC024   35973 non-null  int64
 2   DC025   35973 non-null  int64
 3   DC205   35962 non-null  float64
 4   DC206   35952 non-null  float64
 5   DC207   35929 non-null  float64
 6   DC208   35960 non-null  float64
 7   DC209   35955 non-null  float64
 8   DC210   35932 non-null  float64
 9   DC211   35949 non-null  float64
 10  DC212   35949 non-null  float64
 11  DC213   35896 non-null  float64
 12  DC214   35964 non-null  float64
 13  DC215   35959 non-null  float64
 14  DC216   35934 non-null  float64
 15  DC217   35973 non-null  int64
 16  DC219   35973 non-null  int64
 17  DC220   35969 non-null  float64
 18  DC226   35967 non-null  float64
 19  DC230a  35962 non-null  float64
 20  DC230b  32964 non-null  float64
 21  DC232   32949 non-null  float64
 22  DC232b  32949 non-null  float64
 23  DC235   25527 non-null  float64
 24  DC237   35952 non-null  float64
 25  DC237a  35936 non-null  float64
 26  DC237b  35936 non-null  float64
 27  DC237c  35936 non-null  float64
 28  DC237d  35936 non-null  float64
 29  DC237e  35936 non-null  float64
 30  DC237f  35936 non-null  float64
 31  DC241   35361 non-null  float64
 32  DC242   30599 non-null  float64
 33  DC244   35969 non-null  float64
 34  DC246   35964 non-null  float64
 35  DC252   35959 non-null  float64
 36  DC270a  35973 non-null  int64
 37  DC109   35962 non-null  float64
 38  DC142a  35921 non-null  float64
 39  DC201   35970 non-null  object
dtypes: float64(33), int64(6), object(1)
memory usage: 11.0+ MB

In [ ]:
train.describe()

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a
count,35973.000000,35973.000000,35973.000000,35962.000000,35952.000000,35929.000000,35960.000000,35955.000000,35932.000000,35949.000000,...,35936.000000,35936.000000,35361.000000,30599.000000,35969.000000,35964.000000,35959.000000,35973.000000,35962.000000,35921.000000
mean,24336.069775,43.229088,1.468601,14.986736,0.960086,0.189234,0.846858,0.569434,0.326700,0.758547,...,0.003451,0.198687,1.167303,0.826922,0.366288,0.379574,1.207014,2.699330,15.498637,82.668216
std,13828.886872,23.585684,0.499020,6.061058,0.195761,0.391700,0.360130,0.495162,0.469013,0.427970,...,0.158921,0.425478,0.457907,0.378320,0.481796,0.485288,1.228101,1.435673,9.598043,91.194377
min,1.000000,11.000000,1.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,11.000000,0.000000
25%,12341.000000,31.000000,1.000000,12.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,11.000000,42.000000
50%,24787.000000,35.000000,1.000000,12.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,3.000000,11.000000,63.000000
75%,36131.000000,64.000000,2.000000,16.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,12.000000,96.000000
max,47963.000000,94.000000,2.000000,96.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,8.000000,8.000000,6.000000,1.000000,1.000000,1.000000,4.000000,5.000000,96.000000,998.000000

# Mengisi Nilai NaN

In [ ]:
train.isnull().sum()

id            0
DC024         0
DC025         0
DC205        11
DC206        21
DC207        44
DC208        13
DC209        18
DC210        41
DC211        24
DC212        24
DC213        77
DC214         9
DC215        14
DC216        39
DC217         0
DC219         0
DC220         4
DC226         6
DC230a       11
DC230b     3009
DC232      3024
DC232b     3024
DC235     10446
DC237        21
DC237a       37
DC237b       37
DC237c       37
DC237d       37
DC237e       37
DC237f       37
DC241       612
DC242      5374
DC244         4
DC246         9
DC252        14
DC270a        0
DC109        11
DC142a       52
DC201         3
dtype: int64

In [ ]:
test.isnull().sum()

id        0
DC024     0
DC025     0
DC205     0
DC206     0
DC207     0
DC208     0
DC209     0
DC210     0
DC211     0
DC212     0
DC213     0
DC214     0
DC215     0
DC216     0
DC217     0
DC219     0
DC220     0
DC226     0
DC230a    0
DC230b    0
DC232     0
DC232b    0
DC235     0
DC237     0
DC237a    0
DC237b    0
DC237c    0
DC237d    0
DC237e    0
DC237f    0
DC241     0
DC242     0
DC244     0
DC246     0
DC252     0
DC270a    0
DC109     0
DC142a    0
dtype: int64

Null pada DC205

In [ ]:
train['DC205'] = train['DC205'].fillna(test['DC205'].mode()[0])

Null pada DC206

In [ ]:
train['DC206'] = train['DC206'].fillna(test['DC206'].mode()[0])

Null pada DC207

In [ ]:
train['DC207'] = train['DC207'].fillna(test['DC207'].mode()[0])

Null pada DC208

In [ ]:
train['DC208'] = train['DC208'].fillna(test['DC208'].mode()[0])

Null pada DC209

In [ ]:
train['DC209'] = train['DC209'].fillna(test['DC209'].mode()[0])

Null Pada DC210

In [ ]:
train['DC210'] = train['DC210'].fillna(test['DC210'].mode()[0])

Null pada DC2311

In [ ]:
train['DC211'] = train['DC211'].fillna(test['DC211'].mode()[0])

Null pada DC212

In [ ]:
train['DC212'] = train['DC212'].fillna(test['DC212'].mode()[0])

Null pada DC213

In [ ]:
train['DC213'] = train['DC213'].fillna(test['DC213'].mode()[0])

Null pada DC214

In [ ]:
train['DC214'] = train['DC214'].fillna(test['DC214'].mode()[0])

Null pada DC215

In [ ]:
train['DC215'] = train['DC215'].fillna(test['DC215'].mode()[0])

Null pada DC2316

In [ ]:
train['DC216'] = train['DC216'].fillna(test['DC216'].mode()[0])

Null pada DC217

In [ ]:
train['DC217'] = train['DC217'].fillna(test['DC217'].mode()[0])

Null pada DC220

In [ ]:
train['DC220'] = train['DC209'].fillna(train['DC220'].mean())

Null pada DC226

In [ ]:
train['DC226'] = train['DC226'].fillna(test['DC226'].mode()[0])

Null pada DC230A

In [ ]:
train['DC230a'] = train['DC230a'].fillna(test['DC230a'].mode()[0])

Null Pada DC230B

In [ ]:
train['DC230b'] = train['DC230b'].fillna(test['DC230b'].mode()[0])

Null pada 232

In [ ]:
train['DC232'] = train['DC232'].fillna(test['DC232'].mode()[0])

Null pada 232B

In [ ]:
train['DC232b'] = train['DC232b'].fillna(test['DC232b'].mode()[0])

Null pada DC235

In [ ]:
train = train.drop('DC235', axis=1)

In [ ]:
test = test.drop('DC235', axis = 1)

Null pada 237

In [ ]:
train['DC237'] = train['DC237'].fillna(test['DC237'].mode()[0])
train['DC237a'] = train['DC237a'].fillna(test['DC237a'].mode()[0])
train['DC237b'] = train['DC237b'].fillna(test['DC237b'].mode()[0])
train['DC237c'] = train['DC237c'].fillna(test['DC237c'].mode()[0])
train['DC237d'] = train['DC237d'].fillna(test['DC237d'].mode()[0])
train['DC237e'] = train['DC237e'].fillna(test['DC237e'].mode()[0])
train['DC237f'] = train['DC237f'].fillna(test['DC237f'].mode()[0])

Null pada 241-252

In [ ]:
train['DC241'] = train['DC241'].fillna(test['DC241'].mode()[0])
train['DC242'] = train['DC242'].fillna(test['DC242'].mode()[0])
train['DC244'] = train['DC244'].fillna(test['DC244'].mode()[0])
train['DC246'] = train['DC246'].fillna(test['DC246'].mode()[0])
train['DC252'] = train['DC252'].fillna(test['DC252'].mode()[0])

Null pada 10d

In [ ]:
train['DC109'] = train['DC109'].fillna(test['DC109'].mode()[0])

Null pada 142a

In [ ]:
train['DC142a'] = train['DC142a'].fillna(test['DC142a'].median())

Null pada Dc201

In [ ]:
train = train.dropna()

In [ ]:
"train_age" = train['DC220'].mean()
print(train_age)

SyntaxError: ignored

In [ ]:
train.isnull().sum()

id        0
DC024     0
DC025     0
DC205     0
DC206     0
DC207     0
DC208     0
DC209     0
DC210     0
DC211     0
DC212     0
DC213     0
DC214     0
DC215     0
DC216     0
DC217     0
DC219     0
DC220     0
DC226     0
DC230a    0
DC230b    0
DC232     0
DC232b    0
DC237     0
DC237a    0
DC237b    0
DC237c    0
DC237d    0
DC237e    0
DC237f    0
DC241     0
DC242     0
DC244     0
DC246     0
DC252     0
DC270a    0
DC109     0
DC142a    0
DC201     0
dtype: int64

Mengecek korelasi train dan test pada variabel tidak Nan

In [ ]:
train['DC219'].value_counts()

1    30354
2     5616
Name: DC219, dtype: int64

In [ ]:
test['DC219'].value_counts()

1    10286
2     1704
Name: DC219, dtype: int64

In [ ]:
train.shape

(35970, 39)

# Mengubah data ke numerik

In [ ]:
DC201_mapping = {'Layak Minum' : 1, 'Tidak Layak Minum' : 0}
train['DC201'] = train['DC201'].map(DC201_mapping)

In [ ]:
train

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,1
1,2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,1
2,3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,1
3,6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.0,1.0,1.0,0.0,1.0,1,11.0,85.0,1
4,7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,1.0,0.0,0.0,0.0,1,21.0,9.0,1
35969,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,1
35970,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,1
35971,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,1
35972,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,1

# Modeling

In [ ]:

#import classifiers module

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [ ]:
train.shape, test.shape

((35970, 39), (11990, 38))

In [ ]:
train_data = train.drop("DC201", axis = 1)
target = train['DC201']

In [ ]:
k_fold = KFold(n_splits = 5, shuffle = True, random_state = 0)
clf = GradientBoostingClassifier()
scorring = 'accuracy'
score = cross_val_score(clf, train_data,target,cv=k_fold,n_jobs=1,scoring = scorring)
print(score)

[0.91701418 0.911871   0.91145399 0.91242702 0.91381707]

In [ ]:
score.mean()

0.913316652766194

In [ ]:
k_fold = KFold(n_splits = 5, shuffle = True, random_state = 0)
clf = DecisionTreeClassifier()
scorring = 'accuracy'
score = cross_val_score(clf, train_data,target,cv=k_fold,n_jobs=1,scoring = scorring)
print(score)

[0.87559077 0.87628579 0.87989992 0.87392271 0.87698082]

In [ ]:
score.mean()

0.8765360022240756

In [ ]:
k_fold = KFold(n_splits = 5, shuffle = True, random_state = 10)
clf = RandomForestClassifier()
scorring = 'accuracy'
score = cross_val_score(clf, train_data,target,cv=k_fold,n_jobs=1,scoring = scorring)
print(score)

[0.91409508 0.91562413 0.91284404 0.91312205 0.91576314]

In [ ]:
score.mean()

0.9177926049485684

In [ ]:
k_fold = KFold(n_splits = 10, shuffle = True, random_state = 0)
clf = KNeighborsClassifier()
scorring = 'accuracy'
score = cross_val_score(clf, train_data,target,cv=k_fold,n_jobs=1,scoring = scorring)
print(score)

[0.91854323 0.91492911 0.92215735 0.92021129 0.91798721 0.92132332
 0.91048096 0.91743119 0.91576314 0.91909925]

In [ ]:
score.mean()

0.9177926049485684

In [ ]:
k_fold = KFold(n_splits = 5, shuffle = True, random_state = 0)
clf = SVC()
scorring = 'accuracy'
score = cross_val_score(clf, train_data,target,cv=k_fold,n_jobs=1,scoring = scorring)
print(score)

[0.90450375 0.90033361 0.89977759 0.89783153 0.90102863]

# Prediction

In [ ]:
test.head()

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a
0,26718,35,2,17,1,0,1,0,1,1,...,0,0,1,1,1,1,1,3,21,52
1,26802,35,1,12,1,1,1,1,0,1,...,0,0,1,1,0,0,1,2,11,18
2,41302,74,2,12,1,0,1,1,1,1,...,0,0,1,0,0,1,4,5,11,78
3,38698,72,1,12,1,1,0,0,0,0,...,0,0,1,0,1,0,0,1,11,20
4,44257,76,2,12,1,0,1,0,0,1,...,0,0,1,1,1,1,1,3,11,125

In [ ]:
clf = KNeighborsClassifier()
clf.fit(train_data, target)

KNeighborsClassifier()

In [ ]:
prediction = clf.predict(test)

In [ ]:
df_test = pd.read_csv("test.csv",sep=';')
submission = pd.DataFrame({
    "id": df_test["id"],
    "DC201": prediction
})

In [ ]:
submission.head()

      id  DC201
0  26718      1
1  26802      1
2  41302      1
3  38698      1
4  44257      1

In [ ]:
test['DC201'] = submission['DC201']
test.tail()

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
11985,36943,65,2,12,1,0,1,0,0,1,...,0,1,0,0,0,0,4,11,70,1
11986,33415,61,2,12,1,0,1,1,0,1,...,1,1,1,1,0,0,4,11,120,1
11987,41998,74,1,12,1,1,1,1,0,1,...,0,1,1,0,0,1,2,11,72,1
11988,41567,74,2,31,0,0,0,0,0,1,...,0,1,0,0,1,1,1,51,9,0
11989,45296,81,1,12,1,0,1,1,0,0,...,0,1,1,0,0,1,2,11,96,1

In [ ]:
train.tail()

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
35968,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,1.0,0.0,0.0,0.0,1,21.0,9.0,1
35969,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,1
35970,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,1
35971,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,1
35972,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,1

In [ ]:
submission.to_csv("submission4.csv", index=False)

In [ ]:
submission

          id  DC201
0      26718      1
1      26802      1
2      41302      1
3      38698      1
4      44257      1
...      ...    ...
11985  36943      1
11986  33415      1
11987  41998      1
11988  41567      1
11989  45296      1

[11990 rows x 2 columns]

In [ ]:
test = test.drop('DC201', axis = 1)

In [ ]:
submission

          id  DC201
0      26718      1
1      26802      1
2      41302      1
3      38698      0
4      44257      1
...      ...    ...
11985  36943      1
11986  33415      1
11987  41998      1
11988  41567      0
11989  45296      1

[11990 rows x 2 columns]

In [ ]:
!dir

sample_data  submission.csv

In [ ]:
submit = pd.read_csv('submission4.csv',sep=',')

In [ ]:

submit.head()

      id  DC201
0  26718      1
1  26802      1
2  41302      1
3  38698      1
4  44257      1

In [ ]:
DC201_mapping = {1 : 'Layak Minum', 0 : 'Tidak Layak Minum'}
submit['DC201'] = submit['DC201'].map(DC201_mapping)

In [ ]:
submit

          id              DC201
0      26718        Layak Minum
1      26802        Layak Minum
2      41302        Layak Minum
3      38698        Layak Minum
4      44257        Layak Minum
...      ...                ...
11985  36943        Layak Minum
11986  33415        Layak Minum
11987  41998        Layak Minum
11988  41567  Tidak Layak Minum
11989  45296        Layak Minum

[11990 rows x 2 columns]

In [ ]:
submit.to_csv("submission5.csv", index=False)